/* Horlick pdf */

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/fonts/Poppins-Regular/Poppins-Regular.eot');
    src: url('../fonts/fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'), url('../fonts/fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'), url('../fonts/fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype'), url('../fonts/fonts/Poppins-Regular/Poppins-Regular.svg#Poppins-Regular') format('svg');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/fonts/Poppins-Medium/Poppins-Medium.eot');
    src: url('../fonts/fonts/Poppins-Medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts/Poppins-Medium/Poppins-Medium.woff') format('woff'), url('../fonts/fonts/Poppins-Medium/Poppins-Medium.woff2') format('woff2'), url('../fonts/fonts/Poppins-Medium/Poppins-Medium.ttf') format('truetype'), url('../fonts/fonts/Poppins-Medium/Poppins-Medium.svg#Poppins-Medium') format('svg');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/fonts/Poppins-Light/Poppins-Light.eot');
    src: url('../fonts/fonts/Poppins-Light/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts/Poppins-Light/Poppins-Light.woff') format('woff'), url('../fonts/fonts/Poppins-Light/Poppins-Light.woff2') format('woff2'), url('../fonts/fonts/Poppins-Light/Poppins-Light.ttf') format('truetype'), url('../fonts/fonts/Poppins-Light/Poppins-Light.svg#Poppins-Light') format('svg');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/fonts/Poppins-Bold/Poppins-Bold.eot');
    src: url('../fonts/fonts/Poppins-Bold/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts/Poppins-Bold/Poppins-Bold.woff') format('woff'), url('../fonts/fonts/Poppins-Bold/Poppins-Bold.woff2') format('woff2'), url('../fonts/fonts/Poppins-Bold/Poppins-Bold.ttf') format('truetype'), url('../fonts/fonts/Poppins-Bold/Poppins-Bold.svg#Poppins-Bold') format('svg');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('../fonts/fonts/Poppins-Black/Poppins-Black.eot');
    src: url('../fonts/fonts/Poppins-Black/Poppins-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/fonts/Poppins-Black/Poppins-Black.woff') format('woff'), url('../fonts/fonts/Poppins-Black/Poppins-Black.woff2') format('woff2'), url('../fonts/fonts/Poppins-Black/Poppins-Black.ttf') format('truetype'), url('../fonts/fonts/Poppins-Black/Poppins-Black.svg#Poppins-Black') format('svg');
}

body {
    font-family: 'Poppins-Light';
}

h1,
h2,
h3,
h4,
h5,
.slider-item .slider-text h1,
.service h3 {
    font-family: "Poppins-Medium", sans-serif;
}

header .navbar .nav-link {
    font-family: 'Poppins-Medium';
}

.service .icon,
header .navbar .nav-link.active {
    color: #009eda;
}

.custom-slide-item,
.custom-slide-text {
    min-height: 1px !important;
    height: auto !important;
    position: relative;
}

.center-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.service-icon {
    width: 80px;
    height: 80px;
}

.work-thumb .work-text p {
    color: #009eda;
}

.slider-item .slider-text h1 {
    font-size: 40px;
}

.service h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #009eda;
}

.back-btn {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    color: #000;
    text-transform: capitalize;
    border:1px solid #fff;
    background: transparent;
    padding: 0;
}

.back-btn:hover, .back-btn:focus {
    background: transparent;    
    color: #009eda;
}

.m-t-15 {
    margin-top: 15px !important;
}

.list-inline > li {
    display: inline-block;
}

.list-inline > li::after {
    clear: both;
}

.btn-info {
    color: #000;
    background: transparent;
    border: 0;
    text-transform: capitalize;
}

.btn-info:hover, .btn-info:focus, .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    background: transparent;
    color: #009eda;
    border: 0;
}

.work-strategy {
    text-align: left;
}

.work-strategy > li > a {
    font-size: 16px;
    padding: 0 15px 0 0;
    font-weight: 900;
}

.work-strategy-active {
    color: #009eda;
}

.collapse-wrapper > div {
    padding: 15px 15px;
    background: rgba(191, 191, 191, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: left;
}

.btn-outline-black {
    border:1px solid #000;
}

.form-control {
    border: 1px solid #000 !important;
}

.site-footer {
    background: rgba(242, 242, 242, 0.4);
}

.section {
    padding: 4em 0;
}

.btn-outline-black:hover, .btn-outline-black:focus {
  background: #009eda;
  border:1px solid #009eda;
  color: #fff;
} 

.site-footer {
    padding: 5em 0 2rem 0;
}

.reduce-section-padding-15 {
    padding-top:15px;
}

.reduce-section-padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}


.section-title {
    font-weight: 900;
}

.work-strategy > li > a > h4 {
    color: grey;
}
