<div class="slider-item overlay custom-slide-item" data-stellar-background-ratio="0.5">

        <img src="./assets/images/about.jpg" alt="" class="img-responsive" />
        <div class="container center-main-text">
            <div class="row slider-text align-items-center justify-content-center text-center custom-slide-text">
                <div class="col-lg-12 col-sm-12">
                    <h1 class="mb-4" data-aos="fade-up" data-aos-delay="">Communication Design Esenpro</h1>                
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-7">
                <p>
                        <button class="btn btn-default back-btn" onclick="goBack()">
                        <i class="fas fa-arrow-left"></i> Go Back
                        </button>
                    </p>
                    <a href="../../assets/images/esenpro/logo.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/esenpro/logo.jpg" alt="hamleys logo" class="img-fluid" />
                    </a>

                    <a href="../../assets/images/esenpro/poster.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/esenpro/poster.jpg" alt="hoarding.png" class="img-fluid" />
                    </a>

                    <a href="../../assets/images/esenpro/stall.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/esenpro/stall.jpg"
                            alt="edungur emailer special lunch offer" class="img-fluid">
                    </a>
                    <a href="../../assets/images/esenpro/standee.jpg" class="d-block" data-fancybox="gal">
                        <img src="../../assets/images/esenpro/standee.jpg"
                            alt="edunguru emailer avail attractive offers on exam preparatory course packages"
                            class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="">
                        <h3 class="mb-4">Project Details</h3>
                        <p>
                            Esenpro is a 35 year old firm focussing on heavy engineering. Having its clients present globally, they wanted to redesign their brand, corporate communications, conferences, etc.
                            We at Spakcomm, studied their existing collaterals and their competion and then came with the re-designed identity and all supporting communications that would give the brand an unique look and retain its global approach.
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>