<div class="slider-item overlay custom-slide-item" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
        <img src="./assets/images/about.jpg" alt="" class="img-responsive">
        <div class="container center-main-text">
            <div class="row slider-text align-items-center justify-content-center text-center custom-slide-text">
                <div class="col-lg-12 col-sm-12">
                    <h1 class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="" style="font-size:40px;">About Us</h1>                    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="section">
         <div class="container">
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <figure class="img-dotted-bg">
                    <img src="./assets/images/about_1.jpg" alt="Image" class="img-fluid img-thumbnail" />
                </figure>
            </div>
                
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="mr-auto" data-aos="fade-up">
                    <h2 class="mb-8 section-title">We are a branding, design & digital creative agency. We bring newbrands to life & breathe new life into existing ones.</h2>
                    <p>
                       <i>
                            Our artistry encompasses both print & digital applications across a variety of industry sectors, from corporate businesses all the way through to consumer facing brands.
                       </i>
                    </p>
                    <p>
                       <i>
                            From our design studio in the city of Mumbai, we consistently deliver the exceptionally high quality of work for which we are becoming renowned.
                       </i>
                    </p>
                    <p>
                       <i>
                            Our team’s individual talents align to offer a comprehensive array of commercially focussed creativity.
                       </i>
                    </p>
                    <p>
                        ‘Spak Studios’ had opened in 2008 from a tiny apartment with 2 people only as a design studio! 
                        It was 2012, that  Spak Studios transformed into a full-fledged branding & design agency and was redesigned as Spak Communications after 4-5 years of design & marketing experience working alongside some of the India’s most successful & prestigious brands.
                    </p>
                    <p>
                        Our blend of strategy & creativity results in dynamic outcomes that assist in supporting the future growth of our clients’ businesses. Everything we achieve is repeatedly delivered efficiently through commitment, sincerity & unconditional professionalism.
                    </p>
                    <p>
                        The Spak culture brings together far more than just great talent.
                    </p>
                    <p>
                        Agency culture is of paramount importance. Therefore at Spakcomm you will benefit from our team of creatively accomplished, logically gifted, genuine folk, who are all obsessive in their quest for design perfection.
                    </p>
                    <p>
                        We have no time for pretentious, overbearing, prima donnas. We respect our clients, each other, as well as ourselves.
                    </p>
                    <p> 
                        We thrive in our energetic, collaborative environment – we believe this yields the high quality & consistency of work for which we are becoming renowned.
                    </p>
                    <p> 
                        <strong>Quite simply; outstanding work, crafted by a team of genuine folk.</strong>
                    </p>
                </div>
            </div>    
            </div>
            
            <div class="row align-items-center" style="display:none;">
                
                <div class="col-md-4 order-md-2" data-aos="fade-up" data-aos-delay="100">
                    <figure class="img-dotted-bg">
                        <img src="./assets/images/about_1.jpg" alt="Image" class="img-fluid">
                    </figure>
                </div>
                
                <div class="col-md-5 mr-auto" data-aos="fade-up" data-aos-delay="">
                    <h2 class="mb-8 section-title">We are a branding, design & digital creative agency. We bring newbrands to life & breathe new life into existing ones.</h2>
                    <p>
                       <i>
                            Our artistry encompasses both print & digital applications across a variety of industry sectors, from corporate businesses all the way through to consumer facing brands.
                       </i>
                    </p>
                    <p>
                       <i>
                            From our design studio in the city of Mumbai, we consistently deliver the exceptionally high quality of work for which we are becoming renowned.
                       </i>
                    </p>
                    <p>
                       <i>
                            Our team’s individual talents align to offer a comprehensive array of commercially focussed creativity.
                       </i>
                    </p>
                    <p>
                        ‘Spak Studios’ had opened in 2008 from a tiny apartment with 2 people only as a design studio! 
                        It was 2012, that  Spak Studios transformed into a full-fledged branding & design agency and was redesigned as Spak Communications after 4-5 years of design & marketing experience working alongside some of the India’s most successful & prestigious brands.
                    </p>
                    <p>
                        Our blend of strategy & creativity results in dynamic outcomes that assist in supporting the future growth of our clients’ businesses. Everything we achieve is repeatedly delivered efficiently through commitment, sincerity & unconditional professionalism.
                    </p>
                    <p>
                        The Spak culture brings together far more than just great talent.
                    </p>
                    <p>
                        Agency culture is of paramount importance. Therefore at Spakcomm you will benefit from our team of creatively accomplished, logically gifted, genuine folk, who are all obsessive in their quest for design perfection.
                    </p>
                    <p>
                        We have no time for pretentious, overbearing, prima donnas. We respect our clients, each other, as well as ourselves.
                    </p>
                    <p> 
                        We thrive in our energetic, collaborative environment – we believe this yields the high quality & consistency of work for which we are becoming renowned.
                    </p>
                    <p> 
                        <strong>Quite simply; outstanding work, crafted by a team of genuine folk.</strong>
                    </p>
                </div>
                
            </div>
        </div>  
    </div>
    
    <div class="section bg-light block-11">
        <div class="container">
            <!-- <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center">
                    <h2 class="mb-4 section-title">Happy Client</h2>
                </div>
            </div> -->
            <div class="nonloop-block-11 owl-carousel">
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="./assets/images/testimonials/hemant.png" alt="Hemnat Shetty" /></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">Hemant Shetty</h2>
                                <span class="meta">Brand Head – Pradaxa, Boehringer Ingelheim</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>&rdquo; Working with Spak has always been great. The team at Spak has been supportive and very strong in how they execute their concepts. Once you engage with them, it becomes difficult to associate with anyone else! All the best to the Spak team! &ldquo;</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="./assets/images/testimonials/jay.png" alt="Jay Shah" /></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">Jay Shah</h2>
                                <span class="meta">Director Sales & Marketing – Esenpro</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>&rdquo; It was 2011, when I had first decided to do the re-branding of my Dad’s business. When I met Mr Shiv from Spak, he was full of ideas and the entire team executed the branding process with ease!
Till date, we have been working Spak only! Good Luck!
&ldquo;</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="./assets/images/testimonials/prithwish.png" alt="Prithwish Banerji" /></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">Prithwish Banerji</h2>
                                <span class="meta"> General Manager – GSK Consumer Healthcare</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>&rdquo; Spak from day 1 had always been brilliant in conceptualizing and executing their plans! The team always supported irrexpective of the work hours. What makes them stand out is the way they turn around with their thoughts and executions! Best of luck! &ldquo;</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="block-33 h-100">
                        <div class="vcard d-flex mb-3">
                            <div class="image align-self-center"><img src="./assets/images/testimonials/dharmesh.png" alt="Dharmesh Patel" /></div>
                            <div class="name-text align-self-center">
                                <h2 class="heading">Dharmesh Patel</h2>
                                <span class="meta">CustomerPartner – Options Fashion</span>
                            </div>
                        </div>
                        <div class="text">
                            <blockquote>
                                <p>&rdquo; Spak has been quite vocal in the way they approach the concepts, thoughts and how they execute them. They have a brilliant and strong to support their clients! They study their clients and the competition and then execute their ideas! Kudos to the entire Spak Team! &ldquo;</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
