<div class="slider-item overlay custom-slide-item" data-stellar-background-ratio="0.5">
        <img src="./assets/images/works.jpg" alt="" class="img-responsive" />
        <div class="container center-main-text">
            <div class="row slider-text align-items-center justify-content-center text-center custom-slide-text">
                <div class="col-lg-12 col-sm-12">
                    <h1 class="mb-4" data-aos="fade-up" data-aos-delay="">Our Works</h1>                    
                </div>
            </div>
        </div>
    </div>
    <div class="section portfolio-section padding-bottom-15">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="container">    
                        <h2 class="mb-4 section-title text-left">Our modus operandi utilises a tried & tested procedure for each & every project, regardless of the industry sector for which we are designing.</h2>     
                        <ul class="list-inline work-strategy">
                            <li><a href="#reseach" class="btn btn-info" data-toggle="collapse"><h4>Research</h4></a></li>
                            <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="collapse"><h4>+</h4></a></li>
                            <li><a href="#strategy" class="btn btn-info" data-toggle="collapse"><h4>Strategy</h4></a></li>
                            <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="collapse"><h4>+</h4></a></li>
                            <li><a href="#conceptual" class="btn btn-info" data-toggle="collapse"><h4>Conceptual Design</h4></a></li>
                            <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="collapse"><h4>+</h4></a></li>
                            <li><a href="#application" class="btn btn-info" data-toggle="collapse"><h4>Application</h4></a></li>
                            <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="collapse"><h4>+</h4></a></li>
                            <li><a href="#support" class="btn btn-info" data-toggle="collapse"><h4>Support</h4></a></li>                                
                        </ul>
                        <div class="collapse-wrapper">
                          <div id="reseach" class="collapse">
                             We ask the right questions & listen intently to the answers. Research is vital to ensure we fully understand your audience, your business & your industry. We take the necessary steps to clarify your vision, strategies, values & goals. We then distill these insights & present the findings.
                          </div>
                          <div id="strategy" class="collapse">
                              We articulate a newfound brand strategy based on factual insights & shrewd intuitive understanding, comprising brand messaging, tone-of-voice, as well as pertinent visual stimuli to indicate the proposed brand essence.
                          </div>
                          <div id="conceptual" class="collapse">
                              We think conceptually about effective ways to communicate your business. We only present ideas that are sure to resonate effectively with your audience. We apply our concepts to mock ups of key project deliverables, enabling you to view our work in context. Together we determine a preferred visual direction before we further develop & refine the chosen concept.
                          </div>
                          <div id="application" class="collapse">
                             Once approved, we set about applying the design to the agreed project deliverables. We are adept at crafting consistent & cohesive brand communications, both on & offline, from print & packaging, marketing & advertising to websites & other digital applications.
                          </div> 
                          <div id="support" class="collapse">
                             The Spakcomm team welcome the opportunity to support your ongoing business marketing needs. We act as an extension of your team, providing valuable strategic support, campaign management, implementation & maintenance. This personalised approach enables our clients to benefit from working alongside a dedicated team who understand your business and its unique requirements.
                          </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-5 no-gutters">
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="200">
                    <a [routerLink]="'/sohum-step-out-campaign'" class="work-thumb">
                        <div class="vertical-line"></div>
                        <div class="work-text">     
                            <h2>Step Out Campaign</h2>
                            <p>Sohum</p>
                        </div>
                        <img src="./assets/images/sohum/logo.png" alt="Sohum Shoppe Logo" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
                    <a [routerLink]="'/hamleys-come-and-play-campaign'" class="work-thumb">
                    <div class="vertical-line"></div>
                        <div class="work-text">
                        <h2>Come & Play Campaign</h2>
                            <p>Hamleys</p>
                        </div>
                        <img src="./assets/images/hamleys/logo.png" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
                    <a [routerLink]="'/kittens-spring-campaign'" class="work-thumb">
                    <div class="vertical-line"></div>
                        <div class="work-text">
                        <h2>Spring Summer Campaign</h2>
                            <p>Kittens</p>
                        </div>
                        <img src="./assets/images/kittens/logo.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
                    <a [routerLink]="'/solehead-campaign-design'" class="work-thumb">
                    <div class="vertical-line"></div>
                        <div class="work-text">
                        <h2>Launch Campaign</h2>
                            <p>Solehead</p>
                        </div>
                        <img src="./assets/images/solehead/logo.jpg" alt="Image" class="img-fluid" />
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
                    <a [routerLink]="'/strip-ministry-waxing'" class="work-thumb">
                    <div class="vertical-line"></div>
                        <div class="work-text">
                        <h2>Mumbai Launch Design</h2>
                            <p>Strip</p>
                        </div>
                        <img src="./assets/images/strip/logo.jpg" alt="Image" class="img-fluid" />
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6" data-aos="fade" data-aos-delay="300">
                    <a [routerLink]="'/communication-design-esenpro'" class="work-thumb">
                    <div class="vertical-line"></div>
                        <div class="work-text">
                        <h2>Communication Design</h2>
                            <p>Esenpro</p>
                        </div>
                        <img src="./assets/images/esenpro/logo.jpg" alt="Image" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
    </div>