<div class="slider-item overlay custom-slide-item" data-stellar-background-ratio="0.5">

        <img src="./assets/images/about.jpg" alt="" class="img-responsive" />
        <div class="container center-main-text">
            <div class="row slider-text align-items-center justify-content-center text-center custom-slide-text">
                <div class="col-lg-12 col-sm-12">
                    <h1 class="mb-4" data-aos="fade-up" data-aos-delay="">Strip Minstry Of Waxing</h1>                
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-7">
                <p>
                        <button class="btn btn-default back-btn" onclick="goBack()"><i class="fas fa-arrow-left"></i> Go Back</button>
                    </p>
                    <a href="../../assets/images/strip/logo.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/strip/logo.jpg" alt="hamleys logo" class="img-fluid" />
                    </a>

                    <a href="../../assets/images/strip/banner.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/strip/banner.jpg" alt="hoarding.png" class="img-fluid" />
                    </a>

                    <a href="../../assets/images/strip/dropdown.jpg" class="mb-3 d-block" data-fancybox="gal">
                        <img src="../../assets/images/strip/dropdown.jpg" alt="edungur emailer special lunch offer" class="img-fluid">
                    </a>
                    <a href="../../assets/images/strip/poster.jpg" class="d-block" data-fancybox="gal">
                        <img src="../../assets/images/strip/poster.jpg"alt="edunguru emailer avail attractive offers on exam preparatory course packages" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-4 ml-auto">
                    <div class="">
                        <h3 class="mb-4">Project Details</h3>
                        <p>The global leaders in waxing & laser for both men & women.
The brief was to design the campaign for its India launch in Mumbai.
Hence, we at Spak took cues from their existing creative palette and came up with something quirky and cool that would continue with the brand visual identity. 
The client in Mumbai, loved what we created and delivered.
We designed, launch ads, hoardings, in-store, banners, key-tags, window, digital.
</p>                        
                    </div>
                </div>
            </div>
        </div>
    </div>